.profile_main_container {
    background: #E5E5E5;
    width: 100%;
    min-height: 100%;
    height: auto;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    padding: 2% 0 10% 0;
}

.profile_cont {
    width: 80%;
    margin: 0 10%;
}

.profile_cont1 {
    width: 70%;
    margin: 0 15%;
}

.profile_title {
    color: #2D2D2D;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.113732px;
}

.profile_text_alight_left {
    text-align: left;
}

.profile_text_alight_center {
    text-align: center;
}

.profile_text {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    color: #A0A0A0;
}

.profile_title_yellow {
    color: #FFC850;
    font-size: 2.62em;
    font-weight: bold;
    letter-spacing: 0.113732px;
}

.profile_title_black {
    font-style: normal;
    font-weight: 500;
    font-size: 1.84em;
    letter-spacing: 0.01em;
    color: #102440;
}

.profile_title_gray {
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.005em;
    color: #A9B0BA;
}

.profile_title_ye {
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.005em;
    color: #FFC850;
}

.profile_title_yellow_mini {
    color: #FFC850;
    font-size: 1.38em;
    font-weight: bold;
    letter-spacing: 0.113732px;
}

.profile_card_achievements_cont {
    display: flex;
}

.profile_card_achievements_cont_left {
    width: 20%;
}

.profile_card_achievements_cont_right {
    width: 80%;
}

.MuiLinearProgress-colorPrimary {
    background-color: #EDEDED;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #FFC850;
}

.profile_avatar {
    margin: 0 5%;
    width: 26%;
    height: 26%;
    border-radius: 2em;
    box-shadow: 0px 1.5em 1.5em rgba(161, 201, 230, 0.22);
}

.profile_userdata_block1 {
    display: flex;
    width: 100%;
    margin: 5% 0;
}

.profile_userdata_block1_right {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.profile_title_id {
    margin-bottom: 6%;
}

.profile_title_tag {
    background: #EFF9FF;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5em 1.1em;
    color: #37ABFE;
    font-size: 0.9em;
    margin-top: 2%;
    font-weight: 600;
}

.profile_title_tag_blue {
    background: #EFF9FF;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 2.5em;
    color: #37ABFE;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 6px 0 38px;
}

.profile_title_tag_red {
    background: #FFE4CC;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 2.5em;
    color: #FF7800;

    font-size: 0.9em;
    font-weight: 600;
}

.profile_userdata_block2 {
    margin-top: 16%;
}

.profile_userdata_block2_title {
    color: #102440;
    opacity: 0.94;
    font-size: 16;
    font-style: normal;
    margin: 10px 0px 29px 0px;
}

.profile_userdata_block2_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.profile_userdata_block2_block_child {
    width: 40%;
    display: flex;
}

.profile_userdata_block2_block_child_dot {
    background: #FFF7E5;
    padding: 3%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    color: #FFB20B;
    border-radius: 78px;
    text-align: center;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.profile_userdata_block2_block_child_right {
}

.header_balance {
    font-style: normal;
    font-weight: bold;
    font-size: 1.23em;
    color: #102440;
    margin: auto;
}

.header_profile {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    text-align: right;
    letter-spacing: 0.01em;
    color: #102440;
}

.header_profile_img {
    width: 3em;
    height: 3em;
    background: #61dafb;
    border-radius: 50%;
}

.dp_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #FFF7E5;
    margin: 1em;
    text-align: center;
    color: #36475F;
    font-style: normal;
    font-weight: 600;
    font-size: 1.23em;
    overflow: hidden;
}

.dp_circle::before {
    content: "";
    background: #0D1F40;
    clip-path: polygon(49% 47%, 65% 56%, 82% 56%, 99% 44%, 100% 100%, 0 100%, 0 38%, 18% 28%, 33% 35%);
}

.main_title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.77em;
    letter-spacing: 0.01em;
    color: #102440;
    margin-bottom: 0.45em;
}

.main_subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    width: 30%;
}

.tasks_title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 0.01em;
    color: #102440;
}

.modules_procent {
    font-style: normal;
    font-weight: 500;
    font-size: 5.54em;
    text-align: center;
    margin: 12% 0;
    letter-spacing: 0.01em;
    color: #FFC850;
}

.profile_card_achievements_cont_left {
    margin-left: -2%;
    margin-right: 6%;
}


.market_line {
    width: 100%;
    background: #102440;
    height: 1px;
    margin: 2% 0;
}

.market_card_title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.01em;
    color: #102440;
}

.profile_href_block {
    display: flex;
    align-items: center;
}

.profile_href_block_input {
    width: 100%;
    height: 28px;
    background: #EDEDED;
    border-radius: 2.80156px;
    border: 0;
    outline: 0;
    padding-left: 11px;
}

.profile_href_block_input:not(:last-of-type) {
    margin-bottom: 5%;
}

.market_card_img {
    margin: 3% 0;
    height: 100px;
}

.market_card_button {
    outline: 0;
    border: 0.881804px solid #FFB004;
    border-radius: 5.18708px;
    background: none;
    height: 26px;
    /* width: 90%; */
    width: max-content;
    margin: 5%;

    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.01em;
    color: #102440;
    transition: all .5s ease;
}

.market_card_button:hover {
    background: #FFB004;
    color: #FFFFFF;
    cursor: pointer;
}
